services:
  service-discovery:
    ports:
      - "8761:8761"
  shape-management:
    volumes:
      - ./services/shapemanagement/src:/app/src
  furniture-management:
    volumes:
      - ./services/furnituremanagement/src:/app/src
  floor-management:
    volumes:
      - ./services/floormanagement/src:/app/src
  item-management:
    volumes:
      - ./services/itemmanagement/src:/app/src
  gateway:
    ports:
      - "8084:8080"
    volumes:
      - ./services/gateway/src:/app/src
    environment:
      USER_INTERFACE_URL: "http://gui:3000"
  gui:
    ports:
      - "3000:3000"
    volumes:
      - ./services/gui:/app
      - /app/node_modules
  pg-admin:
    image: dpage/pgadmin4:9
    container_name: pg-admin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    ports:
      - "5051:80"
    depends_on:
      - shape-database
      - furniture-database
      - floor-database
      - item-database
    networks:
      - shape-network
      - furniture-network
      - floor-network
      - item-network
    restart: always
    configs:
      - source: servers
        target: /pgadmin4/servers.json

configs:
  servers:
    file: ./pgadmin-servers.json
