// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
#viewContainer {
  background-color: #222;
  height: 100vh;
}

#itemsMenu {
  padding: 10px;
  overflow-y: auto;
  height: 100vh;
}
