// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
#menuBar {
  background-color: #343a40;
}
#itemLocationContainer {
  background-color: #222;
  height: calc(100vh - 56px); /* Adjust height to fit below navbar */
}
